{{outlet}}
<h3>Details for: {{model.name}}</h3>
<hr>
<h4>address: {{model.address}}</h4>
<h4>Phone #: {{model.phone}}</h4>
<h4>Rating: {{model.rating}}</h4>
<h4><img src={{model.picture}} alt='artery clogging goodness'></h4>
<hr>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review-info-tile review=review foodcart=model}}</li>
  {{/each}}
</ul>


<h3>Add a review:</h3>
{{foodcart-review-tile foodcart=model createReview="createReview"}}
